* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --winning-blocks: #2d414b;
}
body {
  color: #f2c14e;
  font-family: "Finger Paint", cursive;
}
h1 {
  font-size: 54px;
  text-transform: uppercase;
}
.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #37505c;
}
#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.box {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2c14e;
  font-size: 120px;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(6) ~ .box {
  border-bottom: none;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f2c14e;
  color: #333;
  border-color: #f2c14e;
  font-size: 18px;
  transition: 200ms transform;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
/* @media only screen and (min-width: 320px) {
  #gameboard {
    width: 300px;
  }
  .box {
    height: 100px;
    width: 100px;
  }
  h1 {
    font-size: 34px;
  }
} */
/* @media only screen and (min-width: 390px) {
  #gameboard {
    width: 360px;
  }
  .box {
    height: 120px;
    width: 120px;
  }
  h1 {
    font-size: 44px;
  }
} */
@media (max-width: 767px) {
  #gameboard {
    width: 300px;
  }
  .box {
    height: 100px;
    width: 100px;
  }
  h1 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 768px) {
  #gameboard {
    width: 450px; /* Keep the width the same as the original */
  }
  .box {
    height: 150px; /* Keep the height the same as the original */
    width: 150px; /* Keep the width the same as the original */
  }
  h1 {
    font-size: 54px; /* Keep the font size the same as the original */
  }
}
